<mat-card>
    <mat-card-header>
        <mat-card-title>Agent Summary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-icon mat-card-avatar class="agent-avatar-image avatar">account_circle</mat-icon>
            <p>{{agentSummary.agentMessage}}</p>
        </div>
        <div>
            <mat-icon mat-card-avatar class="type-avatar-image avatar">info</mat-icon>
            <p>{{agentSummary.agentType}}</p>
        </div>
        <div>
            <mat-icon mat-card-avatar class="rating-avatar-image avatar">thumb_up</mat-icon>
            <p><app-rating-slider [agentRating]="agentSummary.agentRating" /></p>
        </div>
        <div>
            <div mat-card-avatar class="hazard-avatar-image avatar"></div>
            <p>{{agentSummary.agentHazards}}</p>
        </div>
    </mat-card-content>
</mat-card>